.user-profile{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.user-profile-picture{
	padding: 20px;
	height: 200px;
	width: 200px;
	background-color: rgb(189, 241, 241);
	border-radius: 50%;
}
