{% extends "base.html" %}
{% load custom_tags_transaction %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extracss %}
 
{% block title %}Dashboard{% endblock title %}

{% block content %}
	<div class="container">
	<div class="row">
		<div class="col-lg-12">
    <div class="user-profile mb-5">
     	<img class="user-profile-picture" src="https://avatars.dicebear.com/api/bottts/{{user_profile.first_name}}.svg">
    	<p class="mt-4">{{user.email}}</p></div>
		</div>
	</div>
	{% if not user_profile.is_approved_by_admin %}
		<div class="alert alert-success" role="alert">
			Thank You. We have received your details. Our admin will check your details and activate your account soon !
		</div>
		{% else %}
		<p>Apply for loan</p>
		<input type="button" class="btn btn-success btn-block mt-4" id="stripeSubmitBtn" value="Pay Now"></input>
	{% endif %}
	</div>
{% endblock content %}
{% block extrascript %}
<script src="https://js.stripe.com/v3/"></script>
<script>
fetch('/checkout_stripe')
	.then((result) => {
		return result.json();
	})
	.then((data) => {
		// Initialize Stripe.js
		const stripe = Stripe(data.publicKey);

		// new
		// Event handler
		document.querySelector('#stripeSubmitBtn').addEventListener('click', () => {
			// Get Checkout Session ID
			fetch('/stripe_checkout_session')
				.then((result) => {
					return result.json();
				})
				.then((data) => {
					console.log(data);
					// Redirect to Stripe Checkout
					return stripe.redirectToCheckout({ sessionId: data.sessionId });
				})
				.then((res) => {
					console.log(res);
				});
		});
	});
</script>
{% endblock extrascript %}





